# Start Programming

In [1]:
print("hello")

hello

In [2]:
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

# Naming conventions in Python

In [2]:
my_course = "Python"
MyCourse = "Python"
MYCOURSE= "PYTHON"
print(my_course)
print(MyCourse)
print(MYCOURSE)
x= "Python"
a= "python"
# don't use reserve keywords  like for ,if ,class
my__course ="course"
my_course_name_is_python="python"
# temp, foo

Python
Python
PYTHON

# Different types of strings

In [7]:
name= 'python'
txt=  "123"
Message= "it's crucial"
print("course:" + name + "\nText:" + txt + "\nMessage:" + Message)

course:python
Text:123
Message:it's crucial

# Multiline String

In [10]:
# ''' ''', """ """
multline_string = '''
The quick brown fox 
jumps over the 
lazy dog
'''
print(multline_string)

The quick brown fox
jumps over the
lazy dog

# f string

In [13]:
name = f"my course {my_course} message: {Message}"
print(name)

my course Python message: it's crucial

# Python Operators
 Arithmetic operators

In [11]:
x: int = 8
y: int = 3

print(x + y) #addition
print(x - y) #sub
print( x * y) # Multiplication
print( x / y) #divsion 8/3 
print(x % y) #modulus
print( x ** y) #exponent 8 * 8 * 8
print(2 ** 4) # 2*2*2*2
print(3 ** 3) # 3*3*3

11
5
24
2.6666666666666665
2
512
16
27

In [13]:
# floor division
print( x // y)

2

#  Assignment Operators

In [14]:
x : int = 6

In [15]:
# +=
x += 7 # x=x+7
print(x)

13

In [22]:
x: int = 8
x //= 3 # x = x // 3
print(x)

2

# Comparison Operators

In [28]:
x: int = 5
y: int = 5 
print( x == y) # true
print(x != y)

True
False

In [32]:
x: int = 8
y: int = 5 
#print( x < y) # false
print(x > y)  # true

True

In [38]:
x: int = 8
y: int = 5 
#print( x <= y) # true
print(x >= y)  # true

True

# Logical Operators

In [44]:
x : int = 5
# and
print(x < 6 and x > 4) 
# true and true
# or
print(x < 6 or x > 8)
# true  or false
#not
print(not(x < 6 and x > 4))
# true and true

True
True
False

# Identity Operators

In [47]:
x : int = 5
y: int = 5
print(id(x))
print(id(y))

140736157076024
140736157076024

In [48]:
x is y

True

In [49]:
x is not y

False

# Membership Operators
# in
# not in

In [6]:
%pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\envs\python12\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\programdata\anaconda3\envs\python12\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\python12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\python12\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\python12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")

table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [9]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [10]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

# List in Python

In [5]:
course1: str = "Python"
course2: str = "Networking"
course3: str = "Database"
course4: str = "Cloud Computing"
course5: str = "Cyber Security"
#                           0        1                2           3
courses : list[str] = ["Python", "Networking", "Database", "Cloud Computing"]
#                        -4         -3             -2               -1
print(courses)
print(courses[1])
print(courses[2])
print(courses[-1])

['Python', 'Networking', 'Database', 'Cloud Computing']
Networking
Database
Cloud Computing

In [11]:
from typing import Any
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing", 123]
print(courses)
print(type(courses))
print(type(courses[2]))
print(type(courses[-1]))
print(courses[1].lower())
print(courses[2].upper())

['Python', 'Networking', 'Database', 'Cloud Computing', 123]
<class 'list'>
<class 'str'>
<class 'int'>
networking
DATABASE

In [22]:
#                          0         1              2           3              4
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing", 123]
print(courses[ : : ])

['Python', 'Networking', 'Database', 'Cloud Computing', 123]

In [2]:
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing", 123]
print(courses)
print(courses[0])
courses[0] = "Cyber Security"
print(courses)
del courses[1]
print(courses)

['Python', 'Networking', 'Database', 'Cloud Computing', 123]
Python
['Cyber Security', 'Networking', 'Database', 'Cloud Computing', 123]
['Cyber Security', 'Database', 'Cloud Computing', 123]

In [29]:
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing", 123]
print(courses)
x: str = courses.pop()
print(x)
print(courses)

['Python', 'Networking', 'Database', 'Cloud Computing', 123]
123
['Python', 'Networking', 'Database', 'Cloud Computing']

In [32]:
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing"]
print(courses)
courses.append("Cyber Security")
print(courses)
courses.insert(2,"Math")
print(courses)

['Python', 'Networking', 'Database', 'Cloud Computing']
['Python', 'Networking', 'Database', 'Cloud Computing', 'Cyber Security']
['Python', 'Networking', 'Math', 'Database', 'Cloud Computing', 'Cyber Security']

In [33]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing"]
print(courses)
del courses
print(courses)

['Python', 'Networking', 'Database', 'Cloud Computing']

NameError: name 'courses' is not defined

In [8]:
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing"]
print(courses)
courses.clear()
print(courses)

['Python', 'Networking', 'Database', 'Cloud Computing']
[]

In [16]:
courses : list[any] = ["Python", "Networking", "Database", "Cloud Computing","Cloud Computing"]
print(courses.count("Cloud Computing"))
print(courses.count("Database"))

2
1

In [20]:
courses : list[any] = ["Python", "Networking", "Database","Cloud Computing"]
program: list[str] = ["BSCS", "MSCS"]
courses.extend(program)
print(courses)

['Python', 'Networking', 'Database', 'Cloud Computing', 'BSCS', 'MSCS']

In [1]:
courses : list[any] = ["Python", "Networking", "Database","Cloud Computing"]
for course in courses:
    print(course)

['Python', 'Networking', 'Database', 'Cloud Computing']

In [8]:
courses : list[any] = ["Python", "Networking", "Database","Cloud Computing"]
for course in courses[1:3]: 
    print(course)
print("welcome to python course")

Networking
Database
welcome to python course

# Rang Function

In [24]:
for table in range(1,11):
    print(f"{3} x {table} = {table*3}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [25]:
courses : list[any] = ["Python", "Networking", "Database"]
for index, course in enumerate(courses):
    print(index,course)

0 Python
1 Networking
2 Database

# List comprehensive

In [31]:
[square**2 for square in range(1,5)]

[1, 4, 9, 16]

# Tuple

In [7]:
course1: tuple[str] = ("a", "b","c")
print(course1[1:3])
course1.append=("xyz")

('b', 'c')

AttributeError: 'tuple' object has no attribute 'append'

# if-else-elife

In [45]:

if True:
    print("welcome to python course")
else:
    print("join python course")

welcome to python course

In [46]:
print("welcome to python course") if True else print("join python course")

welcome to python course

In [60]:
if False:
    print("true")
elif False:
    print("false")
elif True:
    print("welcome")
elif False:
    print("false")
elif False:
    print("false")
else:
    print("else")

welcome

# Student Grading System

In [59]:
per: int = int(input("Enter your percentage"))

if per >= 90:
    result = "A"
elif per >= 70:
    result = "B"
elif per >= 60:
    result = "C"
elif per >= 50:
    result = "D"
else:
    result = "Fail"

print(f"Your Percentage is {per} and your Grade is {result}")

Your Percentage is 80 and your Grade is B

# Dictationary

In [4]:
fruits: list[str] = ["apple","mango", "banana","orange"]

In [3]:
from typing import Union
Key = Union[str,int]
Value = Union[str,int,dict,tuple,list]

In [5]:
from typing import Dict
student: Dict[Key,Value] = {"fname":"Rogers",
                            "class":"BSCS",
                            "programe":"computer science",
                            "student_no":987,
                            23:765,
                            87:"values",
                            1:["apple","mango","orange"]}

print(student)

{'fname': 'Rogers', 'class': 'BSCS', 'programe': 'computer science', 'student_no': 987, 23: 765, 87: 'values', 1: ['apple', 'mango', 'orange']}

In [6]:
from typing import Dict
student: Dict[Key,Value] = {"fname":"Rogers",
                            "class":"BSCS",
                            "programe":"computer science",
                            "student_no":987,
                            23:765,
                            87:"values",
                            1:["apple","mango","orange"],
                            "tuple":("abc",876)}

print(student)
print(student["fname"])
print(student[23])
print(student[1])
print(student["tuple"])

{'fname': 'Rogers', 'class': 'BSCS', 'programe': 'computer science', 'student_no': 987, 23: 765, 87: 'values', 1: ['apple', 'mango', 'orange'], 'tuple': ('abc', 876)}
Rogers
765
['apple', 'mango', 'orange']
('abc', 876)

In [17]:
student: Dict[Key,Value] = {"fname":"Rogers",
                            "class":"BSCS",
                            "programe":"computer science",
                            "student_no":987,
                            23:765,
                            87:"values",
                            1:["apple","mango","orange"],
                            "tuple":("abc",876)}
student["fruit"] ="apple"
print(student)
student["fname"] = "saim"
print(student)

{'fname': 'Rogers', 'class': 'BSCS', 'programe': 'computer science', 'student_no': 987, 23: 765, 87: 'values', 1: ['apple', 'mango', 'orange'], 'tuple': ('abc', 876), 'fruit': 'apple'}
{'fname': 'saim', 'class': 'BSCS', 'programe': 'computer science', 'student_no': 987, 23: 765, 87: 'values', 1: ['apple', 'mango', 'orange'], 'tuple': ('abc', 876), 'fruit': 'apple'}

In [18]:
[i for i in dir(student) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [10]:
student: Dict[Key,Value] = {"fname":"Rogers",
                            "class":"BSCS",
                            "programe":"computer science",
                            "student_no":987}

print(student.get("lastname","NA"))
print(student.get("fname","NA"))
print(student.keys())
print(student.values())
print(student.items())
for k in student.keys():
    print(k)
for v in student.values():
    print(v)

NA
Rogers
dict_keys(['fname', 'class', 'programe', 'student_no'])
dict_values(['Rogers', 'BSCS', 'computer science', 987])
dict_items([('fname', 'Rogers'), ('class', 'BSCS'), ('programe', 'computer science'), ('student_no', 987)])
fname
class
programe
student_no
Rogers
BSCS
computer science
987

In [13]:
{v:k for k,v in student.items()}

{'Rogers': 'fname',
 'BSCS': 'class',
 'computer science': 'programe',
 987: 'student_no'}

In [6]:
student: Dict[Key,Value] = {"fname":"Rogers",
                            "class":"BSCS",
                            "programe":"computer science",
                            "student_no":987}
#student.clear()
print(student)
x: str = student.pop("fname")
print(x)
print(student)
a: str = student.popitem()
print(a)
print(student)
student.setdefault("weather","cloudy")
print(student)
student.setdefault("class","MSCS")
print(student)

{'fname': 'Rogers', 'class': 'BSCS', 'programe': 'computer science', 'student_no': 987}
Rogers
{'class': 'BSCS', 'programe': 'computer science', 'student_no': 987}
('student_no', 987)
{'class': 'BSCS', 'programe': 'computer science'}
{'class': 'BSCS', 'programe': 'computer science', 'weather': 'cloudy'}
{'class': 'BSCS', 'programe': 'computer science', 'weather': 'cloudy'}

# Loops
* for loop
* While loop
* Input

In [10]:
rows : list[str] = ["row1","row2", "row3"]
print(rows)
for row in rows:
    print(row)

['row1', 'row2', 'row3']
row1
row2
row3

In [13]:
rows : tuple[str] = ("row1","row2", "row3")
print(rows)
for row in rows:
    print(row)

('row1', 'row2', 'row3')
row1
row2
row3

In [15]:
txt: str = "Python"
print(txt)
for i in txt:
    print(i)

Python
P
y
t
h
o
n

In [27]:
rows : Dict[str,str] = {"row1":"one","row2":"two","row3":"three"}
print(rows)
for row in rows:
    print(f"key is {row} and value is {rows[row]}")

{'row1': 'one', 'row2': 'two', 'row3': 'three'}
key is row1 and value is one
key is row2 and value is two
key is row3 and value is three

In [29]:
fruit: str = input("enter your favourite fruit name")
print(f"your favourite fruit is {fruit}")
print(type(fruit))

your favourite fruit is apple
<class 'str'>

# While Loop

In [ ]:

'''
while logic:
    loop Body
'''

In [31]:
course: bool = True
semester = 0
while course:
    print("continue")
    semester += 1

    if semester == 8:
        break

continue
continue
continue
continue
continue
continue
continue
continue

In [3]:
rows : list[str] = ["row1","row2","row3"]
num : int = 0
while num < len(rows):
    print(f"index number is {num} and value is {rows[num]}")
    num += 1

index number is 0 and value is row1
index number is 1 and value is row2
index number is 2 and value is row3

* Break
* continue
* pass

In [1]:
for i in range(1,10):
    pass

# Funtions

* Function Declaration
* Function Body
* Function calling

In [ ]:
'''
def course(param1:type, param2:type)->return type:
    function_body

course(3,4)
'''

* print
* len
* dir
* id
* etc..

In [3]:
course = print('python')
display(course)

python

None

In [4]:
x: int = len("python")
display(x)

6

In [9]:
def course()->None:
    print("python")
course()
course()
course()
course()

python
python
python
python

In [17]:
# Required Parameter Function
def add_num(num1: int, num2: int = 0)->int:
    return num1 + num2
add_num(5,7)

12

In [25]:
def xyz(*abc):
    print(abc, type(abc))
xyz(2,5,6,4,8)

(2, 5, 6, 4, 8) <class 'tuple'>

In [33]:
def num(x,y,*z,**num1):
    print(x,y,z,num1)
num(8,9,5,6,5,a='2',b='7', c='6')

8 9 (5, 6, 5) {'a': '2', 'b': '7', 'c': '6'}

# Lambda Function

In [1]:
x=lambda param1,param2: param1 + param2
x(5,8)

13

# OOP (Object Oriented Porgramming)
* classes
* Methods
* Attributes

In [13]:
class Car:
    def __init__(self, model, color, year):
        self.model = model
        self.color = color
        self.year = year
    def display_info(self):
        print(f"Model: {self.model}")
        print(f"Color: {self.color}")
        print(f"Year: {self.year}")
    def drive(self):
        print(f"{self.year} {self.model} is driving")
car1 = Car("Toyota", "Red", 2022)
car2 = Car("Honda", "Blue", 2021)
# print(car1.model)
# print(car2.model)

car1.display_info()
car2.display_info()

car1.drive()
car2.drive()

Model: Toyota
Color: Red
Year: 2022
Model: Honda
Color: Blue
Year: 2021
2022 Toyota is driving
2021 Honda is driving

In [1]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Grade: {self.grade}")

student1 = Student("John", 20, "A")
student2 = Student("Jane", 18, "B")
print(student1.name)
print(student2.grade)
student1.display_info()
student2.display_info()

John
B
Name: John
Age: 20
Grade: A
Name: Jane
Age: 18
Grade: B

# Inheritance

In [5]:
class Animal:
    def __init__(self, name):
        self.name = name
    def sound(self):
        pass
class Dog(Animal):
    def sound(self):
        return "Woof"
class Cat(Animal):
    def sound(self):
        return "Meow"

dog = Dog("dog")
cat = Cat("cat")

print(dog.sound())
print(cat.sound())

print(dog.name)
print(cat.name)

Woof
Meow
dog
cat

In [11]:
class Shape:
    def __init__(self, color):
        self.color = color

    def display_color(self):
        print(f"The shap's color is {self.color}")
class Rectangle(Shape):
    def __init__(self, length, width, color):
        super().__init__(color)
        self.length = length
        self.width = width
    def area(self):
        return self.length * self.width
class Circle(Shape):
    def __init__(self, radius, color):
        super().__init__(color)
        self.radius = radius
    def area(self):
        return 3.14 * self.radius * self.radius

rect = Rectangle(10, 10, "red")
circ = Circle(3, "blue")

rect.display_color()

circ.display_color()

print(rect.area())
print(circ.area())

The shap's color is red
The shap's color is blue
100
28.259999999999998

# Multiple Inheritance

In [14]:
class Parent1:
    def method_Parent1(self):
        print("Method of class Parent1")
class Parent2:  
    def method_Parent2(self):
        print("Method of class Parent2")

class Child(Parent1,Parent2):
    def method_Child(self):
        print("Method of class Child")

obj = Child()
obj.method_Parent1()
obj.method_Parent2()
obj.method_Child()

Method of class Parent1
Method of class Parent2
Method of class Child

# Polymorphism
* Overloading
* Overriding

In [17]:
def area(length, width=None):
    if width is None:
        return length * length
    else:
        return length * width
print("Area of Square:", area(4))
print("Area of Rectangle:", area(4, 5))

Area of Square: 16
Area of Rectangle: 20

In [19]:
class Animal:
    def sound(self):
        pass
class Dog(Animal):
    def sound(self):
         return "Bark"
class Cat(Animal):
    def sound(self):
        return "Meow"
# Achieved Polymorphism
def animal_sound(animal):
    print(animal.sound())

dog = Dog() 
cat = Cat()

animal_sound(dog)
animal_sound(cat)

Bark
Meow

In [4]:
from abc import ABC, abstractmethod
class Animal(ABC):
    @abstractmethod
    def __init__(self) -> None:
        super().__init__()

    @abstractmethod
    def speak(self):
        pass
class Cat(Animal):
    def __init__(self) -> None:
        super().__init__()

    def speak(self):
        print("meow")

obj = Cat()
obj.speak()

meow

# Abstraction

In [4]:
from abc import ABC, abstractmethod
class Animal(ABC):
    @abstractmethod
    def __init__(self) -> None:
        super().__init__()

    @abstractmethod
    def speak(self):
        pass
class Cat(Animal):
    def __init__(self) -> None:
        super().__init__()

    def speak(self):
        print("meow")

obj = Cat()
obj.speak()

meow

In [7]:
class Dog(Animal):
    def __init__(self) -> None:
        super().__init__()
    def speak(self):
        print("Bark")

obj1=Dog()
obj1.speak()

Bark

# Encapsulation

In [25]:
class A():
    def __init__(self,_a, __b) -> None: # single underscore -> Protected, double underscore -> private
        self._a = _a # Protected
        self.__b = __b # Private
    def Check(self):
        print(self._a)
        print(self.__b)
obj = A(10, 20)
obj.Check()
print(obj._a)
# print(obj.__b)

10
20
10